
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="KorisnikTableContainer"></div>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            $('#KorisnikTableContainer').jtable({
                title: 'Korisnici',
                paging: true, //Enable paging
                pageSize: 10, //Set page size (default: 10)
                sorting: true, //Enable sorting
                defaultSorting: 'Ime ASC', //Set default sorting
                actions: {
                    listAction: '/Korisnik/List',
                    deleteAction: '/Korisnik/Delete',
                    updateAction: '/Korisnik/Update',
                    createAction: '/Korisnik/Create'
                },
                fields: {
                    KorisnikId: {
                        key: true,
                        create: false,
                        edit: false,
                        list: false
                    },
                    Ime: {
                        title: 'Ime',
                        width: '23%'
                    },
                    Prezime: {
                        title: 'Prezime',

                    },
                    Email: {
                        title: 'Email',
                    },
                    KorisnickoIme: {
                        title: 'Korisnicko ime',
                        width: '13%',
                    },
                    Lozinka: {
                        title: 'Lozinka',
                        width: '12%',
                        type: 'password',
                        list: false,
                        edit: false
                    },
                    UlogaId: {
                        title: 'Uloga',
                        options: '/Korisnik/VratiUlogu'
                    }
                },

                //na popunjavanje imena i prezimena popunjava i username
                formCreated: function (event, data) {
                    $("#Edit-Ime").keyup(function () {
                        $("#Edit-KorisnickoIme").val($("#Edit-Ime").val().toLowerCase() + "." + $("#Edit-Prezime").val().toLowerCase());

                    });
                    $("#Edit-Prezime").keyup(function () {
                        $("#Edit-KorisnickoIme").val($("#Edit-Ime").val().toLowerCase() + "." + $("#Edit-Prezime").val().toLowerCase());

                    });
                }
            });

            //Load student list from server
            $('#KorisnikTableContainer').jtable('load');
        });

    </script>
}